.rt-CheckboxCardsItem {
	min-width: 22rem;
}

.is-checked::after {
	box-shadow: none;
	border: 1px solid var(--accent-8);
}

.is-checked {
	--checkbox-cards-item-background-color: var(--accent-a3);
}
