DATABASE_URL="postgresql://postgres:changeme@localhost:5432/mapa-org?connection_limit=1"
MONGO_DB_URL=mongodb://root:changeme@localhost:27017/mapa-org?authSource=admin&replicaSet=rs0
ZENDESK_API_TOKEN=
ZENDESK_SUBDOMAIN=
ZENDESK_API_USER=
VOLUNTEER_API_URL=
MATCH_LAMBDA_URL=http://localhost:5000
NEW_RELIC_LICENSE_KEY=