:root,
.light,
.light-theme {
	--pink-1: #fefcfd;
	--pink-2: #fdf8f9;
	--pink-3: #f9ecee;
	--pink-4: #f7e0e4;
	--pink-5: #f1d4d9;
	--pink-6: #e8c6cc;
	--pink-7: #ddb4bc;
	--pink-8: #d09ea8;
	--pink-9: #cf9da7;
	--pink-10: #c3929c;
	--pink-11: #91636d;
	--pink-12: #522a34;

	--pink-a1: #aa005503;
	--pink-a2: #b7002507;
	--pink-a3: #af001b13;
	--pink-a4: #be00211f;
	--pink-a5: #ac011e2b;
	--pink-a6: #99001b39;
	--pink-a7: #8c011c4b;
	--pink-a8: #84001b61;
	--pink-a9: #83001b62;
	--pink-a10: #7300186d;
	--pink-a11: #4c00119c;
	--pink-a12: #30000cd5;

	--pink-contrast: #fff;
	--pink-surface: #fdf6f8cc;
	--pink-indicator: #cf9da7;
	--pink-track: #cf9da7;
	--pink-salmon: #fff3ef;
	--pink-soft: #ecc2cc;
}

@supports (color: color(display-p3 1 1 1)) {
	@media (color-gamut: p3) {
		:root,
		.light,
		.light-theme {
			--pink-1: oklch(99.4% 0.002 5.336);
			--pink-2: oklch(98.3% 0.005 5.336);
			--pink-3: oklch(95.4% 0.015 5.336);
			--pink-4: oklch(92.7% 0.025 5.336);
			--pink-5: oklch(89.5% 0.033 5.336);
			--pink-6: oklch(85.7% 0.04 5.336);
			--pink-7: oklch(80.9% 0.048 5.336);
			--pink-8: oklch(74.9% 0.061 5.336);
			--pink-9: oklch(74.6% 0.061 5.336);
			--pink-10: oklch(71% 0.061 5.336);
			--pink-11: oklch(55% 0.061 5.336);
			--pink-12: oklch(34.1% 0.061 5.336);

			--pink-a1: color(display-p3 0.675 0.024 0.349 / 0.012);
			--pink-a2: color(display-p3 0.58 0.024 0.161 / 0.028);
			--pink-a3: color(display-p3 0.584 0.008 0.114 / 0.075);
			--pink-a4: color(display-p3 0.604 0.004 0.106 / 0.118);
			--pink-a5: color(display-p3 0.549 0.004 0.098 / 0.165);
			--pink-a6: color(display-p3 0.486 0.004 0.094 / 0.22);
			--pink-a7: color(display-p3 0.443 0.004 0.086 / 0.287);
			--pink-a8: color(display-p3 0.424 0.004 0.086 / 0.373);
			--pink-a9: color(display-p3 0.42 0.004 0.086 / 0.377);
			--pink-a10: color(display-p3 0.369 0.004 0.078 / 0.42);
			--pink-a11: color(display-p3 0.243 0 0.055 / 0.604);
			--pink-a12: color(display-p3 0.157 0 0.039 / 0.828);

			--pink-contrast: #fff;
			--pink-surface: color(display-p3 0.984 0.965 0.973 / 0.8);
			--pink-indicator: oklch(74.6% 0.061 5.336);
			--pink-track: oklch(74.6% 0.061 5.336);
			--pink-salmon: color(display-p3 0.984 0.953 0.937);
			--pink-soft: oklch(92.3% 0.03 5.336);
		}
	}
}
