body {
	margin: 0;
}

fieldset {
	border: none;
}

.rt-BaseButton {
	font-family: var(--heading-font-family);
	font-weight: bold;
	font-size: var(--font-size-3);
	text-transform: uppercase;
}

.radix-themes,
.rt-BaseButton:where(.rt-r-size-4) {
	--base-button-height: var(--space-7);
}

.radix-themes {
	--default-font-family: var(--font-nunito-sans);
	--heading-font-family: var(--font-idealista);
}

.rt-ProgressRoot:where(.rt-variant-soft) {
	background-color: #ebe5ef;
}
