.input-text-container {
	position: relative;
	max-width: 22rem;
	width: 100%;
	border-radius: var(--radius-4);
	background-color: var(--gray-6);
}

.input-text-container label {
	position: absolute;
	transition:
		top 0.1s,
		font-size 0.1s;
	pointer-events: none;
	visibility: hidden;
}

.input-text-container label.active {
	top: -1rem;
	left: 1rem;
	font-size: var(--font-size-1);
	visibility: visible;
	font-weight: 700;
}
