.input-container {
	position: relative;
	max-width: 332px;
	width: 100%;
}

.input-container label {
	position: absolute;
	background-color: white;
	padding: 0 5px;
	transition:
		top 0.1s,
		font-size 0.1s;
	pointer-events: none;
	visibility: hidden;
}

.input-container label.active {
	top: -10px;
	left: -2px;
	font-size: var(--font-size-1);
	visibility: visible;
	font-weight: 700;
}
