.select-input-container {
	position: relative;
	max-width: 22rem;
	width: 100%;
	border-radius: var(--radius-4);
}

.select-input-container label {
	position: absolute;
	top: 50%;
	left: 1rem;
	transform: translateY(-50%);
	transition: all 0.2s ease;
	pointer-events: none;
	visibility: hidden;
}

.select-input-container label.active {
	top: 0;
	left: 1rem;
	font-size: var(--font-size-1);
	color: var(--purple-9);
	z-index: 9;
	visibility: visible;
	background-color: white;
	font-weight: 700;
}

.select-input-container .custom-select__control {
	background-color: var(--gray-2);
}

.select-input-container .custom-select__control--is-focused,
.select-input-container .custom-select__control--is-focused:hover {
	border-color: var(--focus-8);
	box-shadow: 0 0 0 1px var(--focus-8);
}

.custom-select__value-container {
	padding-left: 1rem;
}

.custom-select__placeholder,
.custom-select__single-value {
	margin-left: 1rem;
}
