.checkboxInfoRoot {
	width: 1.4rem;
	height: 1.4rem;
	background-color: var(--purple-9);
	cursor: pointer;
}

.infoLabel {
	margin-left: 1rem;
	margin-top: 4rem;
	cursor: pointer;
	max-width: 27rem;
}
