.radio[aria-checked="true"]::after {
	box-shadow: none;
	border: 1px solid var(--accent-8);
}

.radio[aria-checked="true"] {
	--card-background-color: var(--accent-a3);
}

.radio,
.radio label {
	cursor: pointer;
	min-width: 22rem;
	max-width: 22rem;
	display: flex;
	justify-content: center;
}

.radioContainer {
	display: flex;
	align-items: center !important;
}
